@font-face {
  font-family: BloodyModes;
  src: url("../fonts/BloodyModes-gwwYp.ttf");
}

.bloody {
  font-family: "BloodyModes", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.main-content {
  background: url(../img/Untitled-22_0008_Layer-2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
